<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Angular + Bootstrap 3</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link href="app/style.css" rel="stylesheet">
  <link href="http://likeastore.github.io/ngDialog/css/ngDialog.css" rel="stylesheet">
  <link href="http://likeastore.github.io/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="app">
  <div class="container" ng-controller="MainCtrl">
    <div class="row">
      <h1>Angular + Bootstrap 3</h1>
      <a href="#" ng-click="openModal()" class="btn btn-primary" >{{ buttonLabel }} 1 </a>
      <a href="#" ng-click="openModal2()" class="btn btn-primary" >{{ buttonLabel }} 2</a>
      <!-- <div bby-wizard ng-switch="getCurrentStep()" steps='3' ng-class="slide">
          <div bby-wizard-section ng-switch-when="1" template="/modal/views/static.html"></div>
          <div bby-wizard-section ng-switch-when="2" template="/modal/views/dynamic.html" resolve="getProducts()"></div>
          <div bby-wizard-section ng-switch-when="3" template="/modal/views/dynamic.html" resolve="getProducts()"></div>
      </div> -->
    </div>
  </div>

  <script type="text/javascript" src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.27/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-animate.min.js"></script>
  <script src="http://likeastore.github.io/ngDialog/js/ngDialog.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.2.1/angular-strap.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/modal/modal.js"></script>

</body>
</html>
