.bby-wizard-wrapper{
  position: relative;
}
.slide.ng-animate {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.slide.ng-leave,
.slide.ng-leave.ng-leave-active{
  display:none;
}
.slide.ng-enter {
  opacity: 0;
}
.slide.ng-enter.ng-enter-active {
  opacity:1;
}
