<div class="navigation clearfix">
  <div ng-if="showNavigation">
    <a href="#" class="btn btn-default pull-left" ng-click="prevSection()" ng-if="currentSection > 1">Back</a>
    <a href="#" class="btn btn-default pull-right" ng-click="nextSection()" ng-if="currentSection < totalSections">Next</a>
    <a href="#" class="btn btn-default pull-right" ng-click="onFinish()" ng-if="currentSection == totalSections && finishButton">Finish</a>
  </div>
</div>
<div class="bby-wizard-wrapper clearfix">
  <div ng-transclude></div>
  <div style="clear:both"></div>
</div> 