
 <div bby-wizard class="slide-container" ng-switch="getCurrentStep()" steps='2'  navigation="true" on-finish="finishAction()">
          <div bby-wizard-section class="slide" ng-switch-when="1" template="/modal/views/dynamic.html" on-enter="getProducts()"></div >
          <div bby-wizard-section class="slide" ng-switch-when="2" template="/modal/views/static.html"></div>
</div>
