 <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
       <bby-wizard ng-switch="getCurrentStep()" steps='2' class="animate" navigation="true">
          <bby-wizard-section ng-switch-when="1" template="/modal/views/dynamic.html" on-enter="getProducts()"></bby-wizard-section>
          <bby-wizard-section ng-switch-when="2" template="/modal/views/static.html"></bby-wizard-section>
      </bby-wizard>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$hide()">OK</button>
        <button class="btn btn-warning" ng-click="$hide()">Cancel</button>
    </div>
  </div>
  </div>
</div>